# Override any defaults here if needed.
resource_group_name = "module-7-aks-rg"
cluster_name        = "module-7-aks"
location            = "Norway East"
node_count          = 1
node_vm_size        = "Standard_D2_v2"
